<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Pagina de Perfil</title>
    <% include partials/head %>
  </head>
  <body>
    <div class="container">
      <header class="text-center">
        <h1 class="pagina-perfil">Página de perfil</h1>
      </header>
      <hr>
      <div class="container">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h3 class="card-title"><span class="fa fa-user"></span> Local</h3>
              <p>
                <strong>id</strong> : <%= user._id %> <br>
                <strong>email</strong> : <%= user.local.email %> <br>
                <strong>Contraseña</strong> : <%= user.local.password %>
              </p>
              <hr>

              <button class="salir">
                <a href="/logout"> Salir </a>
              </button>
                             
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
